<footer class="mt-7 mb-10">
  <div class="advertising">
    <b>
      <h1 class="advertising" href="#" target="_blank" aria-label="advertising">
        <span class="link"> AHORA EN HBO MAX </span>
      </h1>
    </b>
    <b>
      <h1 class="advertising" href="#" target="_blank" aria-label="advertising">
        <span class="link"> PROXIMAMENTE </span>
      </h1>
    </b>
    <b>
      <h1 class="advertising" href="#" target="_blank" aria-label="advertising">
        <span class="link"> PELICULAS DESTACADAS </span>
      </h1>
    </b>
    <b>
      <h1 class="advertising" href="#" target="_blank" aria-label="advertising">
        <span class="link"> SERIES </span>
      </h1>
    </b>
    <b>
      <h1 class="advertising" href="#" target="_blank" aria-label="advertising">
        <span class="link"> AYUDA </span>
      </h1>
    </b>
  </div>
  <div class="terms">
    <h1 class="terms" href="#" target="_blank" aria-label="terms">
      <span class="link"> Privacidad </span>
    </h1>
    <h1 class="terms" href="#" target="_blank" aria-label="terms">
      <span class="link"> Términos de uso </span>
    </h1>
    <h1 class="terms" href="#" target="_blank" aria-label="terms">
      <span class="link"> Anuncios de prensa </span>
    </h1>
    <h1 class="terms" href="#" target="_blank" aria-label="terms">
      <span class="link"> Contactos de prensa </span>
    </h1>
    <h1 class="terms" href="#" target="_blank" aria-label="terms">
      <span class="link"> Gestionar preferencias </span>
    </h1>
  </div>

  <div class="social-media">
    <a
      class=""
      href="https://www.facebook.com/HBOMaxLa/?locale=es_LA"
      target="_blank"
      aria-label="facebook"
    >
      <img src="/assets/images/facebook.png" alt="LogoFace" />
    </a>

    <a
      class=""
      href="https://twitter.com/HBOLAT"
      target="_blank"
      aria-label="twitter"
    >
      <img src="/assets/images/twitter.png" alt="LogoTwitter" />
    </a>

    <a
      class="rol"
      href="https://www.instagram.com/hbomaxla/?hl=es"
      target="_blank"
      aria-label="instagram"
    >
      <img src="/assets/images/instagram.png" alt="LogoInsta" />
    </a>

    <a
      class="rol"
      href="https://www.youtube.com/channel/UC7Hu5kbXt2F1OWhf1-390vQ"
      target="_blank"
      aria-label="youtube"
    >
      <img src="/assets/images/youtube.png" alt="LogoYoutube"
    /></a>
  </div>
</footer>
